In [13]:
# list comprehension
# 파이썬에만 있는 기능
# 이전 리스트에서 새로운 리스트를 만드는 기능

# 리스트 컴프리헨션 써보긴했는데 좀 체계없이 막 배워서 써봤음
# 이번기회에 제대로 익혀보자 

numbers = [1,2,3]

new_list = [item+1 for item in numbers]
new_list

[2, 3, 4]

In [5]:
name = "Angela"
new_list = [letter for letter in name]
new_list

['A', 'n', 'g', 'e', 'l', 'a']

In [10]:
[(a+1)*2 for a in range(4) if a >1]

[6, 8]

In [11]:
names = ['Alex','Beth','Caroline','Dave','Elanor','Fraddle']
[name.upper() for name in names if len(name)>5]

['CAROLINE', 'ELANOR', 'FRADDLE']

In [14]:
[i**2 for i in range(11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
zeroten = list(range(11))

[i for i in zeroten if i%2==0]

[0, 2, 4, 6, 8, 10]

In [2]:
# Dictionary Comprehension

# new_dict = {new_key:new_value for (key,value) in dick.items()}
import random
names = ['Alex','Beth','Caroline','Dave','Elanor','Fraddle']

students_scores = {student:random.randint(1,100) for student in names}
students_scores

{'Alex': 60,
 'Beth': 87,
 'Caroline': 84,
 'Dave': 6,
 'Elanor': 70,
 'Fraddle': 73}

In [11]:
students_scores.items()

dict_items([('Alex', 60), ('Beth', 87), ('Caroline', 84), ('Dave', 6), ('Elanor', 70), ('Fraddle', 73)])

In [20]:
passed_students = { student:'Pass' if score>60 else 'Fail' for (student, score) in students_scores.items()}
passed_students

{'Alex': 'Fail',
 'Beth': 'Pass',
 'Caroline': 'Pass',
 'Dave': 'Fail',
 'Elanor': 'Pass',
 'Fraddle': 'Pass'}

In [30]:
student_dict = {
    'student' : ['Angela', 'James', 'Lily'],
    'score' : [56, 76, 98]
}

for (key, value) in student_dict.items():
    print(value)
print('------')    
import pandas as pd
student_df = pd.DataFrame(student_dict)
print(student_df)
print('------')
for (index, row) in student_df.iterrows():
    print(row)

['Angela', 'James', 'Lily']
[56, 76, 98]
------
  student  score
0  Angela     56
1   James     76
2    Lily     98
------
student    Angela
score          56
Name: 0, dtype: object
student    James
score         76
Name: 1, dtype: object
student    Lily
score        98
Name: 2, dtype: object

In [36]:
student_dict = {
    "student": ["Angela", "James", "Lily"], 
    "score": [56, 76, 98]
}

#Looping through dictionaries:
for (key, value) in student_dict.items():
    #Access key and value
    pass

import pandas
student_data_frame = pandas.DataFrame(student_dict)

#Loop through rows of a data frame
for (index, row) in student_data_frame.iterrows():
    #Access index and row
    #Access row.student or row.score
    pass

# Keyword Method with iterrows()
# {new_key:new_value for (index, row) in df.iterrows()}

#TODO 1. Create a dictionary in this format:
{"A": "Alfa", "B": "Bravo"}
alphabet = pandas.read_csv('./NATO-alphabet-start/nato_phonetic_alphabet.csv')
al_dict = {}
for (index, row) in alphabet.iterrows():
    al_dict[row.letter] = row.code
    

#TODO 2. Create a list of the phonetic code words from a word that the user inputs.

word = input('Enter a word: ').upper()
[al_dict[letter] for letter in word]

['Alfa', 'Bravo', 'Charlie', 'Delta', 'Echo']